/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

/* voorkomt dat de image buiten de vw komt */
img {
    max-width: 100%;
}


/* NAVIGATIE V/D HEADER */
header {
    background-image: url(../images/beginafbeeldingMobiel.jpg);
    background-repeat: no-repeat;
}


nav:first-of-type img {
    width: 2em;
    height: 2em;
}

nav:first-of-type img:hover {
    height: 2em;
}

/* LOGO */
nav ul li:nth-of-type(2) img {
    width: 4em;
    height: 4em;
}

nav {
    color: white;
}

ul {
    transition: 0.8s ease;
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
    list-style: none;
}

/* Inhoud hoofdmenu */

header ul:nth-of-type(1) {
    text-transform: uppercase;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Inhoud hamburger menu */

ul:nth-of-type(2) {
    background-color: palevioletred;
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    transform: translateX(-80vw);
}

ul:nth-of-type(2) li {
    padding: 1.2em 30px 1em 0px;
    font-size: 1.5em;
}

ul:nth-of-type(2) li:hover {
    background-color: lightgrey;
}

/* class om de navigatie zichbaar te maken */
ul:nth-of-type(2).actief {
    transform: translateX(0);
    position: absolute;
    top: 50px;
    bottom: 0;
    z-index: 99;
}

/* class om de main te laten stoppen met scrollen als hamburger
menu open is */


main.vast {
    position: fixed;
}


/* REST VAN DE PAGINA */

h2 {
    color: white;
    background-color: red;
    padding: 10px;
}

h3 {
    color: dimgrey;
    font-weight: normal;
}

section {
    display: grid;
    column-gap: 10px;
}


section:nth-of-type(2) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section:nth-of-type(2) article figure {
    overflow: hidden;
}

section:nth-of-type(2) article figure img:hover {
    transform: scale(1.1);
    height: 370px;
}

section > h2 {
    grid-column-start: 1;
    grid-column-end: -1;
}

/* Dit is om de tekst te laten zien wanneer je over een afbeelding hovert */
figure {
    position: relative;
}

figure img {
    object-fit: cover;
    height: 370px;
    transition: 0.5s ease;
}

figure img:hover {
    height: 400px;
}

figcaption {
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    color: white;
    visibility: hidden;
}

figure:hover figcaption {
    visibility: visible;
}

/* FOOTER */

footer {
    color: white;
    background-color: lightgray;
    padding: 1em;
}



/* Varianten pagina WERKT NIET! */
button {
    color: red;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    padding: 1em 2em;
    background-color: darkgrey;
    transition: 0.5s ease-in-out;
}

button:hover {
    color: black;
    background-color: dimgrey;
}

p {
    white-space: pre-line;
    padding: 0 30px;
}

h1 {
    color: white;
    font-weight: normal;
    background-image:
        url(../images/Variantenbeginafbeelding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* MEDIA QUERIES */

/* Mobile */


/* Ipad */

@media screen and (min-width: 800px) {
    section:first-of-type {
        grid-template-columns: 1fr 1fr 1fr;
    }

}


/* Desktop */
