/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

/* voorkomt dat de image buiten de vw komt */
img {
    max-width: 100%;
}


/* NAVIGATIE V/D HEADER */
ul {
    padding: 0;
    margin: 0;
}

/* Achtergrondafbeelding van de header*/
header {
    background-image: url(../images/beginafbeeldingMobiel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
}

/* Inhoud hoofdmenu */
header ul:nth-of-type(1) {
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    padding: 10px 30px 0 0;
}

/* Hamburger knopje*/
.HamburgerClass {
    cursor: pointer;
}

header figcaption {
    text-transform: uppercase;
    text-shadow: none;
    font-weight: lighter;
    position: absolute;
    top: 8px;
    left: 35px;
    color: white;
    visibility: visible;
}

.HamburgerClass img {
    width: 2em;
    height: 2em;
}

.HamburgerClass img:hover {
    height: 2em;
}

/* LOGO */
nav ul li:nth-of-type(2) img {
    width: 5em;
    height: 5em;
}

nav ul li:nth-of-type(2) img:hover {
    height: 5em;
}

/* Inloggen*/
header ul:nth-of-type(2) li:last-of-type {
    margin-right: 20px;
}


.InloggenClass {
    display: none;
    position: absolute;
    right: 15vw;
}

.InloggenClass img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.InloggenClass img:hover {
    height: 25px;
}

.InloggenClass figcaption {
    top: 8px;
}

/* Vergrootglas knopje */
.Vergrootglas {
    width: 3em;
    height: 2em;
    padding-left: 1em;
    margin-top: 20px;
}

/* Inhoud hamburger menu */

ul:nth-of-type(2) {
    font-weight: lighter;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 45vw;
    max-height: 100vh;
    overflow: scroll;
    transform: translateX(-80vw);
    transition: 0.8s ease;
}

ul:nth-of-type(2) li {
    font-size: 1.5em;
    padding: 1em;
}

ul:nth-of-type(2) li:last-of-type {
    color: red;
}

ul:nth-of-type(2) li:hover {
    background-color: lightgrey;
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: black;
}

header ul:nth-of-type(2) li:nth-of-type(3) {
    color: grey;
}

/* Kopjes binnen de hamburger content */
header ul:nth-of-type(2) li:first-of-type {
    padding-top: 3em;
}

header ul:nth-of-type(2) li:first-of-type,
header ul:nth-of-type(2) li:nth-of-type(4),
header ul:nth-of-type(2) li:nth-of-type(6) {
    text-transform: uppercase;
    color: grey;
    font-size: 0.8em;
    padding-bottom: 0;
}

header ul:nth-of-type(2) li:first-of-type:hover,
header ul:nth-of-type(2) li:nth-of-type(4):hover,
header ul:nth-of-type(2) li:nth-of-type(6):hover {
    background-color: white;
}

/* social media hamburgermenu */
header ul:nth-of-type(2) img {
    width: 40px;
    height: 40px;
    padding: 2px;
}

header ul:nth-of-type(2) li:nth-of-type(5) {
    background-color: white;
}

/* class om de navigatie zichbaar te maken voor java */
ul:nth-of-type(2).actief {
    transform: translateX(0);
    position: absolute;
    top: 70px;
    bottom: 0px;
    z-index: 99;
}

/* class om de main te laten stoppen met scrollen als hamburgermenu open is voor java */

main.vast {
    position: fixed;
    max-height: 100vw;
}


/* inhoud zoek form */
header nav ul:last-of-type {
    background-color: white;
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translate(60vw);
}

.Open {
    transform: translate(0vw);
}

header nav ul:last-of-type li:first-of-type img {
    height: 20px;
    width: 20px;
    margin: 35px 0 0 10px;
}

header nav ul:last-of-type form {
    padding: 30px 0;
}

header nav ul:last-of-type form input {
    border: 1px solid black;
    padding: 10px;
    background-color: lightgray;
    width: 30vw;
    height: 30px;
}

header nav ul:last-of-type form input::placeholder {
    color: grey;
    letter-spacing: 0.8px;
}

header nav ul:last-of-type li:last-of-type {
    font-size: 2em;
    font-weight: lighter;
    margin-top: 25px;
}

header nav ul:last-of-type li:last-of-type:hover {
    color: red;
}

/* MAIN */

section h2 {
    font-weight: normal;
    color: white;
    background-color: red;
    padding: 20px;
    font-size: 1.7em;
    letter-spacing: 1px;
}

h3 {
    color: dimgrey;
    width:
}

section {
    display: grid;
    column-gap: 10px;
}


section:nth-of-type(2) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section:nth-of-type(2) article figure {
    overflow: hidden;
}

section:nth-of-type(2) article figure img:hover {
    transform: scale(1.1);
    height: 370px;
}

section > h2 {
    grid-column-start: 1;
    grid-column-end: -1;
}

/* Dit is om de tekst te laten zien wanneer je over een afbeelding hovert */
figure {
    position: relative;
}

figure img {
    object-fit: cover;
    height: 370px;
    transition: 0.5s ease;
}

figure img:hover {
    height: 400px;
}

figcaption {
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    color: white;
    visibility: hidden;
}

figure:hover figcaption {
    visibility: visible;
}

/* FOOTER */

footer {
    font-weight: lighter;
    color: white;
    font-size: 0.8em;
    background-color: lightgray;
    padding: 2em;
    margin-top: 20px;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer nav ul li {
    font-weight: bold;
    font-size: 0.7em;
    letter-spacing: 1px;
    color: white;
    padding: 10px;
    border-right: 1px solid white;
}

footer nav ul li:last-of-type {
    border: none;
}

footer nav ul li:hover {
    color: black;
    cursor: pointer;
}

/* Varianten pagina */

/* ik heb een class aan de body van de detailpagina toegevoegd zodat ik zo min mogelijk classes gebruik maar wel dingen op de detailpagina kan aanspreken zonder dat de indexpagina veranderd */

.Varianten article {
    padding: 1em;
}

.Varianten h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.8em;
}

.Varianten article img {
    width: 95vw;
    max-height: 50vh;
}

.Varianten article p {
    font-size: 0.9em;
    line-height: 1.3em;
    white-space: pre-line;
    text-align: center;
}

button {
    color: red;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    padding: 1em 6em;
    margin-bottom: 30px;
    background-color: darkgrey;
    transition: 0.3s ease-in;
}

button:hover {
    color: black;
    background-color: dimgrey;
}


.Varianten header {
    background-image: url(../images/Variantenbeginafbeelding.jpg);
}

h1 {
    color: white;
    width: 60%;
    position: absolute;
    top: 70vh;
    left: 20%;
    right: 20%;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}

/* MEDIA QUERIES */
/* LOGO */
@media screen and (min-width: 800px) {
    nav ul li:nth-of-type(2) img {
        width: 7em;
        height: 7em;
    }

    nav ul li:nth-of-type(2) img:hover {
        height: 7em;
    }

    section:first-of-type {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* Mobile */
@media screen and (min-width: 340px) {
    footer nav ul li {
        font-size: 1em;
    }
}

@media screen and (min-width: 520px) {
    header {
        background-image: url(../images/beginafbeelding.jpg);
        background-size: cover;
        background-position: center;
    }
    .Varianten header {
        background-image: url(../images/VariantenBeginafbeelding.Groot.jpg)
    }
}

/* Ipad */
@media screen and (min-width: 850px) {

    .Varianten article p,
    .Varianten article h3 {
        text-align: justify;
    }

    .Varianten .tekstcontent {
        max-width: 45vw;
        padding: 0em 4em;
    }

    /* zodat artikelen elkaar niet overlappen */
    .Varianten article {
        width: 100vw;
        min-height: 50vh;
        margin-bottom: 50px;
    }

    .Varianten article img {
        height: 100vh;
        width: 47vw;
    }

    /* artikelen waarbij afbeelding links gepositioneerd staan */
    .Varianten article:first-of-type img,
    .Varianten article:nth-of-type(3) img {
        float: left;
    }

    .Varianten article:first-of-type .tekstcontent,
    .Varianten article:nth-of-type(3) .tekstcontent {
        float: right;
    }

    /* artikelen waarbij afbeelding rechts gepositioneerd staan */
    .Varianten article:nth-of-type(2) .tekstcontent,
    .Varianten article:last-of-type .tekstcontent {
        float: left;
    }

    .Varianten article:nth-of-type(2) img,
    .Varianten article:last-of-type img {
        float: right;
    }

    /* Voor meer ruimte tussen het laatste artikel en de footer */
    .Varianten article:last-of-type {
        margin-bottom: 100px;
    }
}


/* Desktop */
@media screen and (min-width: 900px) {
    .InloggenClass {
        display: block;
    }

    .Vergrootglas {
        border-left: 1px solid white;
    }
}
