/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
}

/* NAVIGATIE V/D HEADER */

header,
h2 {
    color: white;
    background-color: red;
}


nav:first-of-type {
    text-transform: uppercase;
}

header img {
    width: 2em;
    height: 2em;
}

img:nth-of-type(2) {
    width: 4em;
    height: 4em;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
/* Dit zinnetje werkt niet */
    max-height: 100px;
}

li {
    text-decoration: none;
    list-style: none;
}


nav:nth-of-type(2) ul {
    max-height: none;
    background-color: green;
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 75%;
    position: absolute;
    left:-500px;
}

/* class om de navigatie zichbaar te maken */
nav:nth-last-of-type(2) ul.actief {
    left: 0px;
}

nav:nth-of-type(2) li {
    padding: 1em;
    font-size: 1.5em;
    transition: 0.5s ease;
}

nav:nth-of-type(2) li:hover {
    background-color: lightgrey;
}

/* REST VAN DE PAGINA */

h2 {
    padding: 10px;
}

h3 {
    color: dimgrey;
    font-weight: normal;
}

main img {
    height: 370px;
    object-fit: cover;
    transition: 0.5s ease;
}

main img:hover {
    height: 400px;
}

main > img:first-of-type {
    height: inherit;
    width: inherit;
}


section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 10px;
}

section > h2 {
    grid-column: span 4;
}

article {
    padding: 1em 0;
}

/* Dit is om de tekst te laten zien wanneer je over een afbeelding hovert */
figure {
    position: relative;
    transition:
}

figcaption {
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 220px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    visibility: hidden;
}

figure:hover figcaption {
    visibility: visible;
}

/* FOOTER */

footer {
    color: white;
    background-color: lightgray;
    padding: 1em;
}

footer > nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer > nav > ul > li {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}


footer > nav > ul > li:hover {
    color: black;
}
